
<div class="containerContent">
    <div class="leftSide">
        <img src="https://i.pinimg.com/564x/d2/2b/19/d22b19e84dd60b0f084dc98e36c7841e.jpg" alt="">
        <h2 class="gradienttext">Horváth Olivér</h2>
        <p>Veréb</p>
    </div>
      <div class="rightSide">
        <h3 style="color: white;margin-top: 0; margin-bottom: 12%;">User details:</h3>
        <table style="font-size: medium;">
            <tr>
                <td>Name :</td>
                <td>{{userData.name}}</td>
              </tr>
          <tr>
            <td>Username :</td>
            <td>{{userData.username}}</td>
          </tr>
          <tr>
            <td>Email :</td>
            <td>{{userData.email}}</td>
          </tr>
          <tr>
            <td>Street :</td>
            <td>{{userData.address.street}}</td>
        </tr>
        <tr>
            <td>Suite :</td>
            <td>{{userData.address.suite}}</td>
        </tr>
        <tr>
            <td>City :</td>
            <td>{{userData.address.city}}</td>
        </tr>
        <tr>
            <td>Zipcode :</td>
            <td>{{userData.address.zipcode}}</td>
        </tr>
        <tr>
            <td>Latitude :</td>
            <td>{{userData.address.geo.lat}}</td>
        </tr>
        <tr>
            <td>Longitude :</td>
            <td>{{userData.address.geo.lng}}</td>
        </tr>
        <tr>
            <td>Phone :</td>
            <td>{{userData.phone}}</td>
        </tr>
        <tr>
            <td>Website :</td>
            <td>{{userData.website}}</td>
        </tr>
        <tr>
            <td>Company Name :</td>
            <td>{{userData.company.name}}</td>
        </tr>
        <tr>
            <td>Catch Phrase :</td>
            <td>{{userData.company.catchPhrase}}</td>
        </tr>
        <tr>
            <td>BS :</td>
            <td>{{userData.company.bs}}</td>
        </tr>
        </table>
      </div>
</div>

